# WordPress custom REST API namespace. Do not add a trailing slash.
NEXT_PUBLIC_WORDPRESS_API_URL=https://backend.enticejewels.com/wp-json/entice/v1
NEXT_PUBLIC_INSTAGRAM_PROFILE_URL=https://www.instagram.com/entice_fashion_/
